*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: .3rem solid black;
    display: flex;
}
.box{
    width: 10rem;
    height: 10rem;
    color: white;
}
.box1{
    background-color: black;
}
.box2{
    background-color: blue;
}
.box3{
    background-color:red;
}

.box4{
    background-color:purple;
}

.box5{
    background-color: chocolate;
}

.box6{
    background-color: coral;
}



